.form {
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	border: 1px solid black;
	margin-top: 50px;
	min-height: 350px;
}

.form > input[type='text'] {
	width: 350px;
	height: 20%;
	padding: 17px;
	outline: none;
	margin-top: 15px;
	border: 1px black solid;
	font-size: 1.15em;
}

.form > input[type='date'] {
	width: 350px;
	height: 20%;
	padding: 17px;
	outline: none;
	margin-top: 15px;
	border: 1px black solid;
	cursor: pointer;
}

.form > .buttons {
	display: flex;
	margin-top: 1rem;
}

.form > .buttons > .buttons__SubmitBtn {
	background-color: rgb(54, 80, 226);
	color: #fff;
}

.form > .buttons > .buttons__SubmitBtn:disabled {
	background-color: rgb(119, 119, 121);
}

.form > .buttons > .buttons__CancelBtn {
	background-color: rgb(47, 48, 45);
	color: #fff;
}

.form > .buttons > button {
	outline: none;
	width: 150px;
	height: 40px;
	padding: 12px;
	border: none;
	border-radius: 2px;
	font-size: 1rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
}

.form .errorText {
	color: red;
	align-self: flex-start;
	margin-left: 25px;
}
