.header {
	display: flex;
	background: #332fd9;
	color: white;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 100px;
}

.header svg {
	cursor: pointer;
}

.todo {
	display: flex;
	gap: 15px;
	align-items: center;
}

.todo > h1 {
	font-size: 2.4rem;
}
